@keyframes comeIn {
  0% {
    transform: scale(0.75);
  }

  100% {
    transform: scale(1);
  }
}

.modal {
  /* border: 3px solid red; */
  position: fixed;
  inset: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
}

.modal_img_wrapper {
  /* border: 3px solid green; */
  flex-grow: 1;
  position: relative;
}

.modal_img {
  /* border: 3px solid red; */
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  animation: comeIn 0.3s ease-in-out;
}

.modal_details {
  /* border: 3px solid green; */
  margin: 0 auto;
  color: var(--blue);
  width: 100%;
  max-width: 50em;
  display: flex;
  gap: 5px;
}

.info {
  border: 3px solid var(--grey);
  padding: 0 5px;
  height: 3.5rem;
  border-radius: 5px;
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.links {
  /* border: 1px solid red; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1em;
}

.links a,
.title {
  color: var(--blue);
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}

.title {
  font-size: 1.5em;
}

.bookmark_btn {
  border: 3px solid var(--grey);
  border-radius: 5px;
  background: transparent;
  color: var(--blue);
  height: 3.5rem;
  width: 3.5rem;
  padding: 5px;
}

.bookmark_btn svg {
  width: 100%;
  height: 100%;
}

.current_gallery_index {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 5px;
  background: var(--grey);
  color: var(--blue);
  padding: 5px;
}

.gallery_btn_wrapper {
  /* border: 3px solid blue; */
  position: absolute;
  inset: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
}

.gallery_btn {
  border: none;
  /* border: 2px solid green; */
  border-radius: 50%;
  background: var(--grey);
  color: var(--blue);
  width: 2em;
  height: 2em;
}

.gallery_btn svg {
  width: 100%;
  height: 100%;
}

.error {
  font-size: 10em;
  display: grid;
  place-items: center;
  height: 100%;
  color: var(--blue);
}
