@keyframes comeIn {
  0% {
    transform: scale(0)
  }

  100% {
    transform: scale(1)
  }
}

.card {
  overflow: hidden;
  border-radius: 5px;
  color: var(--blue);
  background: var(--grey);
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 40%);
  margin: 5px;
  animation: comeIn .5s ease-in-out;
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
}

.unknown {
  font-size: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 850px) {
  .card {
    margin: 2px;
  }
}