.grid-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  background: var(--bg);
  
  /* padding: .5em; */

  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
  gap: 1em;
  justify-content: center; */
}