.navbar {
  position: sticky;
  top: 0;
  height: 60px;
  z-index: 1;
  border-bottom: 2px solid var(--blue);
  background: var(--bg);
  display: flex;
  align-items: center;
  padding: 10px;
}

.title {
  color: var(--blue);
  font-size: 1.5em;
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn {
  color: var(--blue);
  background: var(--grey);
  padding: 10px;
  font-size: 1em;
  display: flex;
  align-items: center;
  height: 100%;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 40%);
}

.btn:hover {
  transition: none;
  color: black;
  background: var(--blue);
  cursor: pointer;
}

.navbar, .title, .btn {
  transition: .2s ease-in;
}

.shrink.navbar {
  height: 35px;
  padding: 2px 10px;
}

.shrink .btn {
  padding: 5px; 
}

.shrink .title {
  font-size: 1.2em;
}

@media screen and (max-width: 500px) {
  .title {
    font-size: 1.2em;
  }
}