.card {
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid var(--blue);
  color: var(--blue);
  background: var(--grey);

  /* animation: cardAnime .5s ease-in-out; */
}

/* @keyframes cardAnime {
  from {
    transform: scale(.7) translateX(50%);
  }

  to {
    transform: scale(1) translateX(0%);
  }
} */

.loading {

}

img {
  display:block;
  width: 100%;
}

.details {
  display: flex;
  border-bottom: 1px solid var(--blue);
}

.info {
  flex-grow: 1;
}

.links > a {
  font-size: .8em;
  margin: 0 5px;
}

.title {
  font-size: 1.3em;
  margin: 0 5px;
}

.bookmark {
  display: flex;
  align-items: center;
  justify-content: center;
}

img, .bookmark > svg, .links > a, .title  {
  cursor: pointer;
}