.card {
  border: 1px solid var(--grey);
  border-radius: .3em;
  margin: .5em;
  width: 20em;
  height: 20em;
  display: flex;
  flex-direction: column;
  background: var(--grey);
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 40%);
}

.card:hover {
  border: 1px solid var(--blue);
}

.top {
  /* border: 3px solid red; */
  height: 2em;
}

.middle {
  /* border: 3px solid var(--midblue); */
  flex-grow: 1;
  position: relative;
}

.bottom {
  border: 1px solid green;
  height: 1.5em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.image {
  /* border: 3px solid red; */
  border-radius: .3em .3em 0 0;
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  object-fit: contain;
}

.image:hover {
  cursor: zoom-in;
}

/* background-image version*/
.Bimage {
  /* border: 3px solid red; */
  height: 100%;
  width: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.save-btn {
  border: none;
  height: 100%;
  display: flex;
  align-items: center;
  background: var(--grey);
  border-bottom-right-radius: .3em;
}

.save-btn:hover {
  background: var(--blue);
  cursor: pointer;
}

.icon {
  border: 1px solid red;
  /* width: 100%; */
  stroke: var(--blue);
  /* fill: var(--blue); */
}

/* .icon:hover {
  fill: var(--blue);
} */