.card {
  border: 2px solid var(--grey);
  border-radius: .3em;
  /* margin: .5em; */
  /* max-width: 15em; */
  height: 15em;
  background: var(--grey);
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 40%);
  position: relative;
  overflow: hidden;
}

.card:hover {
  border: 2px solid var(--blue);
}

.image {
  /* pointer-events:none; */
  /* border: 2px solid var(--grey); */
  border-radius: .3em;
  /* filter: blur(1em); */
  height: 100%;
  width: 100%;

  object-fit: contain;
}

/* background-image version*/
.Bimage {
  /* border: 3px solid red; */
  height: 100%;
  width: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.actions {
  /* border: 1px solid red; */
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.card:hover .actions {
  display: block;
}

.btn {
  /* box-shadow: 0 2px 4px 0 rgb(0 0 0 / 40%); */
  /* border: 1px solid var(--blue); */
  width: 2em;
  height: 2em;
  background: var(--grey);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.btn:hover {
  background: var(--blue);
}

.btn:hover .icon {
  stroke: black;
}

.maximize-btn {
  position: absolute;
  top: 0;
  left: 0;
  border-right: 2px solid var(--blue);
  border-bottom: 2px solid var(--blue);
  border-radius: 0 0 .3em 0;
}

.maximize-btn:hover {
  border-top-left-radius: 0;
}

.ext-link-btn {
  position: absolute;
  top: 0;
  right: 0;
  border-left: 2px solid var(--blue);
  border-bottom: 2px solid var(--blue);
  border-radius: 0 0 0 .3em;
}

.eye-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 2px solid var(--blue);
  border-right: 2px solid var(--blue);
  border-radius: 0 .3em 0 0;
}

.heart-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  border-top: 2px solid var(--blue);
  border-left: 2px solid var(--blue);
  border-radius: .3em 0 0 0;
}

/* .save-btn {
  border: none;
  height: 100%;
  display: flex;
  align-items: center;
  background: var(--grey);
  border-bottom-right-radius: .3em;
}

.save-btn:hover {
  background: var(--blue);
  cursor: pointer;
} */

.icon {
  /* border: 1px solid green; */
  /* width: 100%; */
  stroke: var(--blue);
  /* fill: var(--blue); */
}

/* .icon:hover {
  fill: var(--blue);
} */