.main {
  /* border: 1px solid green; */
  margin-bottom: 5px;
  /* position: absolute;
  inset: 0; */
  /* overflow: hidden; */
}

.gallery {
  /* border: 1px solid red; */
  margin: 0 auto;
  max-width: 1300px;
}

.masonry_grid {
  display: flex;
  margin: 0 5px;
}

.masonry_grid_column {
  /* border: 1px solid green; */
  background-clip: padding-box;
}

.masonry_grid_column > div {
  margin: 10px 5px;
}

@media screen and (max-width: 600px) {

  .gallery {
    max-width: 100%;
  }
}