@keyframes spin {
  0% { transform: rotate(0deg); }
  100% {  transform: rotate(359deg); }
}

.loader_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  display: flex;
  margin-bottom: 30px;
}

.theend {
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  color: var(--grey);
  line-height: 1em;
  padding-bottom: 30px;
}